.btn{
    font-family: inherit;
    font-size: $bodyFontSize;
    font-weight: 600;
    // height: 45px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-color: $secondaryColor;
    padding: 16px 16px;
    transition: $transitionDuration;
    &:hover{
        background-color: $primaryColor;
        transition: $transitionDuration;
    }
}

.btn--without-bg{
    font-family: inherit;
    font-size: $bodyFontSize;
    font-weight: 600;
    cursor: pointer;
    border: 1.5px solid $secondaryColor;
    border-radius: 6px;
    color: $secondaryColor;
    padding: 12px 16px;
    transition: $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    &:hover{
        color: $primaryColor;
        transition: $transitionDuration;
        border: 1.5px solid $primaryColor;
    }
    i{
        margin-top: 4px;
        margin-left: 6px;
    }
}

.link-text{
    font-weight: 600;
    color: $secondaryColor;
    padding: 4px 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: $transitionDuration;
    &:hover{
        color: $primaryColor;
        transition: $transitionDuration;
    }
}

button{
    font-family: inherit;
}