/*=======HERO SECTION STYLING=======*/
.hero-section {
  background-color: $backgroundColor;
  padding: 24px;
  display: flex;
  width: 100%;
  gap: 40px;
  height: 100vh;
  // align-items: center;
  .text-description {
    width: 50%;
    transform: translateY(100px);
    h1 {
      margin-bottom: 24px;
    }
    p {
      margin-bottom: 48px;
    }

    .btn-group {
      display: flex;
      gap: 24px;
    }
    .icon {
      font-size: 24px;
      margin-left: 6px;
    }
  }

  .image-container {
    display: flex;
    justify-content: center;
    width: 50%;
    img {
      width: 60%;
    }
  }
}

@media (max-width: 850px) {
  .hero-section {
    .text-description {
      transform: translateY(60px);
    }
    .image-container {
      align-items: flex-start;
      img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 750px) {
  .hero-section {
    flex-direction: column;
    .text-description {
      width: 80%;
      margin: auto;
      transform: translateY(20px);

      .btn-group {
        gap: 24px;
      }
    }

    .image-container {
      width: 80%;
      margin: auto;
      img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 500px) {
  .hero-section {
    gap: 12px;
    .text-description {
      width: 100%;
      transform: unset;
    }
    .image-container {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
/*=======END OF HERO SECTION STYLING=======*/

/*=======SERVICE SECTION STYLING=======*/
.service-section {
  margin-top: 96px;

  .image-container{
    text-align: center;
    background-color: #00A7D7;
    padding: 24px 12px;
    
    .header {
      max-width: 500px;
      text-align: center;
      margin: auto;
    }
    h2, p {
      margin-bottom: 24px;
      color: #fff;
    }
    .main-service-img{
      max-width: 400px;
      height: auto;
      margin: 24px 0;
    }
  }
  .text-description {
    margin-top: 48px;
    display: flex;
    gap: 48px;
    img {
      object-fit: contain;
      max-width: 300px;
    }
    h4{
      margin-bottom: 12px;
    }
    p{
      margin-bottom: 24px;
    }
    .service-list {
      display: flex;
      align-items: center;
      gap: 24px;
      width: 50%;
    }
    .btn--without-bg{
      max-width: 130px;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 1100px){
  .service-section{
    .text-description{
      .service-list{
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 650px){
  .service-section{
    .text-description{
      flex-direction: column;
      align-items: center;
      .service-list{
        width: 100%;
      }
    }
  }
}

@media(max-width: 480px){
  .service-section{
    .image-container{
      .main-service-img{
        width: 100%;
      }
    }
  }
}


/*=======END OF SERVICE SECTION STYLING=======*/

/*=======HOW IT WORKS SECTION STYLING=======*/
.how-it-works {
  margin-top: 96px;
  h2 {
    text-align: center;
    margin-bottom: 48px;
  }
  .tab-box {
    display: flex;
    max-width: 315px;
    justify-content: center;
    margin: auto;
    margin-bottom: 48px;
    position: relative;
    border-bottom: 2px solid #CCCCCC;
  }
  .tab-btn {
    background-color: #fff;
    padding: 6px 12px;
    border: 0px;
    font-weight: 600;
    font-size: 24px;
    font-family: inherit;
    cursor: pointer;
    i {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 12px;
    }
  }
  .tab-btn.active {
    color: $secondaryColor;
    background-color: #F5F5F5;
  }
  .tab-btn.active p{
    color: $secondaryColor;
  }
  .line {
    position: absolute;
    top: 79px;
    left: 2px;
    width: 168px;
    height: 3px;
    background-color: $secondaryColor;
    transition: all 0.3s ease-in-out;
  }
  img {
    object-fit: contain;
    border-radius: 8px;
  }
  .tab--item__wrapper {
    display: flex;
    gap: 48px;
    flex-direction: column;
    .owl-theme .owl-dots .owl-dot.active span{
      background-color: #00A7D7;
    }
    .tab-img {
      max-width: 400px;
      height: auto;
    }
    .customer--guide {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 24px;

      h5 {
        margin-bottom: 12px;
      }
    }
    .owl-carousel.owl-drag .owl-item{
      text-align: -moz-center;
    }
  }
  .tab--item {
    display: none;
    animation: moving 0.5s ease-out;
  }
  .tab--item.active {
    display: block;
  }
  @keyframes moving {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .download-cta {
    width: 100%;
    padding: 24px;
    text-align: center;
    font-weight: 500;
    background: rgba(250, 240, 255, 1);
    height: 250px;
    padding: 24px;
    border-radius: 12px;
    margin-top: 48px;
    h4 {
      max-width: 500px;
      margin: auto;
      text-align: center;
    }
    span {
      color: $primaryColor;
    }
    .btn-group {
      margin: 24px 0;
    }
    button {
      outline: none;
      border: 0px;
    }
    img {
      width: 200px;
      height: 60px;
    }
    a {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 1024px) {
  .how-it-works {
    .tab--item__wrapper {
      flex-direction: column;
      .tab-img {
        width: 500px;
        margin-bottom: 48px;
      }
    }
  }
}

@media (max-width: 540px) {
  .how-it-works {
    .tab--item__wrapper {
      .tab-img {
        width: 100%;
      }
    }
    .download-cta {
      height: 320px;
      padding: 24px;
      button {
        background-color: none;
      }
      img {
        object-fit: cover;
      }
      a {
        display: flex;
        justify-content: center;
      }
    }
  }
}
/*=======END OF HOW IT WORKS SECTION STYLING=======*/

/*=======BENEFITS SECTION STYLING=======*/
.benefits-section {
  margin-top: 96px;
  h2 {
    text-align: center;
    margin-bottom: 48px;
  }
  .benefit--items__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 24px;
    h4 {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
    svg {
      margin-left: 6px;
    }
  }
}
/*=======END OF BENEFITS SECTION STYLING=======*/

/*=======TESTIMONIAL SECTION STYLING=======*/
.testimonial-section {
  background-color: $secondaryColor;
  padding: 24px;
  margin-top: 96px;
  h2 {
    max-width: 500px;
    margin: auto;
    color: #fff;
    margin-bottom: 48px;
    text-align: center;
  }
  .testimonial--container {
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
  }

  .testimonial--item {
    max-width: 350px;
    h5 {
      color: $primaryColor;
      margin-bottom: 12px;
    }
    cite {
      font-weight: 500;
    }
    p {
      margin-top: 12px;
    }
  }
  .btn {
    background-color: $primaryColor;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: auto;
    margin-top: 48px;
    &:hover {
      background-color: $secondaryColor;
    }
  }
}
/*=======END OF TESTIMONIAL SECTION STYLING=======*/

/*=======NEWSLETTER SECTION STYLING=======*/
.newsletter-section {
  text-align: center;
  margin: 96px 0;
  .newsletter--container {
    max-width: 1000px;
    margin: auto;
    padding: 24px;
  }
  h2 {
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 24px;
  }
  .input-field {
    width: 70%;
  }
}
/*=======END OF NEWSLETTER SECTION STYLING=======*/
