.hide-modal {
    display: none;
}


.modal {

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn--cancel,
.btn--delete {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn--cancel {
    background-color: #f1f1f1;
}

.btn--delete {
    background-color: #dd4b39;
    color: white;
}

.is-active {
    display: block;
}