html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Blinker", sans-serif;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1;
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h4 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

h5 {
  font-size: 1.125em;
  color: rgb(19, 19, 19);
}

h1, h2 {
  color: rgb(126, 0, 196);
}

p {
  font-size: 1em;
  color: rgb(54, 52, 53);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  color: rgb(54, 52, 53);
}

.padding-wrapper {
  padding: 0 40px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.btn {
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  border: 0px;
  border-radius: 6px;
  color: #fff;
  background-color: rgb(0, 167, 215);
  padding: 8px 16px;
  transition: 0.3s;
}
.btn:hover {
  background-color: rgb(126, 0, 196);
  transition: 0.3s;
}

.btn--without-bg {
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  border: 0px;
  border-radius: 6px;
  color: rgb(0, 167, 215);
  padding: 8px 16px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.btn--without-bg:hover {
  color: rgb(126, 0, 196);
  transition: 0.3s;
}

.link-text {
  font-weight: 600;
  color: rgb(0, 167, 215);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.link-text:hover {
  color: rgb(126, 0, 196);
  transition: 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 66px;
  background-color: #fff;
  position: relative;
}
nav .logo-image {
  width: 200px;
  height: auto;
}
nav .right--side__nav {
  display: flex;
  align-items: center;
}
nav .nav--items__container li {
  display: inline;
  margin-right: 24px;
}
nav .nav--items__container a {
  transition: 0.3s;
}
nav .nav--items__container a:hover {
  color: rgb(126, 0, 196);
  transition: 0.3s;
}

.menu--toggle {
  display: none;
}

@media (max-width: 870px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  nav .logo--container,
  nav .menu--toggle {
    margin: 15px 0 0 24px;
  }
  nav .right--side__nav {
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    z-index: 1111;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  nav .showing {
    opacity: 1;
    visibility: visible !important;
    transition: 0.3s;
  }
  nav .nav--items__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  nav .nav--items__container a {
    width: 100%;
  }
  nav .cta-button {
    margin: 24px 0 32px;
  }
  .menu--toggle {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 12px;
    cursor: pointer;
    padding: 6px;
  }
  .menu--toggle .hamburger {
    font-size: 24px;
  }
}
.hero-section {
  background-color: rgb(250, 240, 255);
  padding: 24px;
  display: flex;
  width: 100%;
  gap: 40px;
  height: 80vh;
}
.hero-section .text-description {
  width: 50%;
  transform: translateY(100px);
}
.hero-section .text-description h1 {
  margin-bottom: 24px;
}
.hero-section .text-description p {
  margin-bottom: 48px;
}
.hero-section .text-description .btn-group {
  display: flex;
  gap: 24px;
}
.hero-section .text-description .icon {
  font-size: 24px;
  margin-left: 6px;
}
.hero-section .image-container {
  display: flex;
  justify-content: center;
  width: 50%;
}
.hero-section .image-container img {
  width: 60%;
}

@media (max-width: 850px) {
  .hero-section .text-description {
    transform: translateY(60px);
  }
  .hero-section .image-container {
    align-items: flex-start;
  }
  .hero-section .image-container img {
    width: 80%;
  }
}
@media (max-width: 750px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-section .text-description {
    width: 80%;
    margin: auto;
    transform: translateY(20px);
  }
  .hero-section .text-description .btn-group {
    gap: 24px;
  }
  .hero-section .image-container {
    width: 80%;
    margin: auto;
  }
  .hero-section .image-container img {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .hero-section {
    gap: 12px;
  }
  .hero-section .text-description {
    width: 100%;
    transform: unset;
  }
  .hero-section .image-container {
    width: 100%;
  }
  .hero-section .image-container img {
    width: 100%;
  }
}
.service-section {
  margin-top: 96px;
}
.service-section header {
  max-width: 500px;
}
.service-section header h2 {
  margin-bottom: 12px;
}
.service-section .services--wrapper {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.service-section .services--wrapper .text-description {
  width: 50%;
}
.service-section .services--wrapper .text-description h4 {
  margin-bottom: 12px;
}
.service-section .services--wrapper .text-description p {
  margin-bottom: 24px;
}
.service-section .services--wrapper .text-description .icon {
  font-size: 24px;
  margin-left: 6px;
}
.service-section .services--wrapper .image-container {
  display: flex;
  justify-content: baseline;
  width: 50%;
}
.service-section .services--wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 400px;
}
.service-section .services--wrapper .service-list {
  max-width: 400px;
  margin-bottom: 48px;
}

.how-it-works {
  margin-top: 96px;
}
.how-it-works h2 {
  text-align: center;
  margin-bottom: 48px;
}
.how-it-works img {
  -o-object-fit: contain;
     object-fit: contain;
}
.how-it-works .carousel--item__wrapper {
  display: flex;
  gap: 48px;
}
.how-it-works .carousel--item__wrapper .customer--guide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}
.how-it-works .carousel--item__wrapper .customer--guide h5 {
  margin-bottom: 12px;
}
.how-it-works .download-cta {
  width: 100%;
  padding: 24px;
  text-align: center;
  font-weight: 500;
  background: rgb(250, 240, 255);
  height: 250px;
  padding: 24px;
  border-radius: 12px;
  margin-top: 48px;
}
.how-it-works .download-cta h4 {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.how-it-works .download-cta span {
  color: rgb(126, 0, 196);
}
.how-it-works .download-cta .btn-group {
  margin: 24px 0;
}
.how-it-works .download-cta button {
  outline: none;
  border: 0px;
}
.how-it-works .download-cta img {
  width: 200px;
  height: 60px;
}
.how-it-works .download-cta a {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */