html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Blinker", sans-serif;
  position: relative;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-family: "Dela Gothic One", cursive;
  line-height: 1;
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h4 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

h5 {
  font-size: 1.125em;
  color: rgb(19, 19, 19);
}

h1,
h2 {
  color: rgb(126, 0, 196);
  line-height: 1;
}

p {
  font-size: 1em;
  color: rgb(54, 52, 53);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  color: rgb(54, 52, 53);
}

.padding-wrapper {
  padding: 0 24px;
}

@media (max-width: 550px) {
  .padding-wrapper {
    padding: 0;
  }
}
img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.input-field {
  height: 45px;
  border: 1px solid rgb(126, 0, 196);
  border-radius: 8px;
  line-height: 1;
  padding: 6px 12px;
  font-family: inherit;
  font-size: 16px;
  transition: 0.3s;
  width: 100%;
}

.input-field:focus {
  border-radius: 1.5px solid rgb(0, 167, 215);
  transition: 0.3s;
}

.animate {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 0.7s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0px);
}

.btn {
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(0, 167, 215);
  padding: 12px 16px;
  transition: 0.3s;
}
.btn:hover {
  background-color: rgb(126, 0, 196);
  transition: 0.3s;
}

.btn--without-bg {
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border: 1.5px solid rgb(0, 167, 215);
  border-radius: 6px;
  color: rgb(0, 167, 215);
  padding: 6px 16px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.btn--without-bg:hover {
  color: rgb(126, 0, 196);
  transition: 0.3s;
  border: 1.5px solid rgb(126, 0, 196);
}

.link-text {
  font-weight: 600;
  color: rgb(0, 167, 215);
  padding: 4px 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: 0.3s;
}
.link-text:hover {
  color: rgb(126, 0, 196);
  transition: 0.3s;
}

/*=======FOOTER SECTION STYLING=======*/
footer {
  position: relative;
  width: 100%;
  background-color: rgb(51, 51, 51);
  padding: 48px;
  color: #fff;
}
footer .footer--container {
  display: flex;
  justify-content: space-between;
}
footer .footer--container h4 {
  margin-bottom: 12px;
}
footer .anyworkx--container img {
  width: 250px;
  height: auto;
}
footer ul {
  color: inherit;
}
footer ul li {
  padding: 6px 0;
}
footer ul .link-text {
  color: inherit;
  font-weight: 400;
}
footer ul .link-text:hover {
  color: rgb(0, 167, 215);
}
footer .social--links {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .social--links .icon--bg {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
footer .social--links .twitter {
  background-color: rgb(0, 172, 240);
}
footer .social--links .instagram {
  background-color: rgb(193, 53, 132);
}
footer .social--links .facebook {
  background-color: rgb(59, 89, 152);
}
footer .social--links .icon {
  font-size: 18px;
}
footer hr {
  margin: 48px 0 24px;
  border: 1px solid #666;
}
footer .copyright {
  text-align: center;
}

/*=======END OF FOOTER SECTION STYLING=======*/
@media (max-width: 590px) {
  footer .footer--container {
    flex-flow: row wrap;
  }
}
@media (max-width: 450px) {
  footer .f-mg-top {
    margin-top: 32px;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 66px;
  background-color: #fff;
  position: relative;
  z-index: 9999;
}
nav .logo-image {
  width: 200px;
  height: auto;
}
nav .right--side__nav {
  display: flex;
  align-items: center;
}
nav .nav--items__container li {
  display: inline;
  margin-right: 24px;
}
nav .nav--items__container a {
  transition: 0.3s;
}
nav .nav--items__container a:hover {
  color: rgb(126, 0, 196);
  transition: 0.3s;
}

.menu--toggle {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

@media (max-width: 870px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  nav .logo--container,
  nav .menu--toggle {
    margin: 15px 0 0 24px;
  }
  nav .right--side__nav {
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    z-index: 1111;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  nav .showing {
    opacity: 1;
    visibility: visible !important;
    transition: 0.3s;
  }
  nav .nav--items__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
  }
  nav .nav--items__container a {
    width: 100%;
    padding: 12px;
  }
  nav .cta-button {
    margin: 24px 0 32px;
  }
  .menu--toggle {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 12px;
    cursor: pointer;
    padding: 6px;
  }
  .menu--toggle .hamburger {
    font-size: 24px;
  }
}
/*=======HERO SECTION STYLING=======*/
.hero-section {
  background-color: rgb(250, 240, 255);
  padding: 24px;
  display: flex;
  width: 100%;
  gap: 40px;
  height: 100vh;
  align-items: center;
}
.hero-section .text-description {
  width: 50%;
}
.hero-section .text-description .hyperlink {
  color: rgb(126, 0, 196);
}
.hero-section .text-description h1 {
  margin-bottom: 24px;
}
.hero-section .text-description p {
  margin-bottom: 48px;
}
.hero-section .text-description .btn-group {
  display: flex;
  gap: 24px;
}
.hero-section .text-description .btn-group p {
  margin-bottom: 6px;
  text-align: center;
  font-size: 14px;
  color: #666;
}
.hero-section .text-description .icon {
  font-size: 24px;
  margin-left: 6px;
}
.hero-section .image-container {
  display: flex;
  justify-content: center;
  width: 50%;
}
.hero-section .image-container img {
  width: 60%;
}

@media (max-width: 850px) {
  .hero-section .image-container {
    align-items: flex-start;
  }
  .hero-section .image-container img {
    width: 80%;
  }
}
@media (max-width: 750px) {
  .hero-section {
    justify-content: flex-start;
    flex-direction: column;
  }
  .hero-section .text-description {
    width: 80%;
    margin: auto;
  }
  .hero-section .text-description .btn-group {
    gap: 24px;
  }
  .hero-section .image-container {
    width: 80%;
    margin: auto;
  }
  .hero-section .image-container img {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .hero-section {
    gap: 12px;
    text-align: center;
  }
  .hero-section .text-description {
    width: 100%;
  }
  .hero-section .text-description .btn-group {
    justify-content: center;
  }
  .hero-section .image-container {
    width: 100%;
  }
  .hero-section .image-container img {
    width: 100%;
  }
}
/*=======END OF HERO SECTION STYLING=======*/
.mentioned-section p {
  text-align: center;
  padding: 6px;
  background-color: #EAEAEA;
}
.mentioned-section .mentioned-logo {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 12px;
}
.mentioned-section img {
  width: 150px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

/*=======SERVICE SECTION STYLING=======*/
.service-section {
  margin-top: 60px;
}
.service-section .image-container {
  text-align: center;
  background-color: #00A7D7;
  padding: 24px 12px;
}
.service-section .image-container .header {
  max-width: 500px;
  text-align: center;
  margin: auto;
}
.service-section .image-container h2, .service-section .image-container p {
  margin-bottom: 24px;
  color: #fff;
}
.service-section .image-container .main-service-img {
  max-width: 400px;
  height: auto;
  margin: 24px 0;
}
.service-section .text-description {
  margin-top: 48px;
  display: flex;
  gap: 48px;
}
.service-section .text-description img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 300px;
}
.service-section .text-description h4 {
  margin-bottom: 12px;
}
.service-section .text-description p {
  margin-bottom: 24px;
}
.service-section .text-description .service-list {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 50%;
}
.service-section .text-description .btn--without-bg {
  max-width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px) {
  .service-section .text-description .service-list {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .service-section .text-description {
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
  }
  .service-section .text-description .service-list {
    width: 100%;
  }
  .service-section .text-description .service-list img {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .service-section .image-container .main-service-img {
    width: 100%;
  }
}
/*=======END OF SERVICE SECTION STYLING=======*/
/*=======HOW IT WORKS SECTION STYLING=======*/
.how-it-works {
  margin-top: 96px;
}
.how-it-works h2 {
  text-align: center;
  margin-bottom: 48px;
}
.how-it-works .tab-box {
  display: flex;
  max-width: 170px;
  justify-content: center;
  margin: auto;
  margin-bottom: 48px;
  position: relative;
  border-bottom: 2px solid #CCCCCC;
}
.how-it-works #tab-2 {
  margin-top: 48px;
}
.how-it-works .tab-btn {
  background-color: #fff;
  padding: 6px 12px;
  border: 0px;
  font-weight: 600;
  font-size: 24px;
  font-family: inherit;
  cursor: pointer;
}
.how-it-works .tab-btn i {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}
.how-it-works .tab-btn.active {
  color: rgb(0, 167, 215);
  background-color: #F5F5F5;
}
.how-it-works .tab-btn.active p {
  color: rgb(0, 167, 215);
}
.how-it-works .line {
  position: absolute;
  top: 79px;
  left: 2px;
  width: 168px;
  height: 3px;
  background-color: rgb(0, 167, 215);
  transition: all 0.3s ease-in-out;
}
.how-it-works img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
.how-it-works .tab--item__wrapper {
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.how-it-works .tab--item__wrapper .owl-theme .owl-dots .owl-dot.active span {
  background-color: #00A7D7;
}
.how-it-works .tab--item__wrapper .tab-img {
  max-width: 400px;
  height: auto;
}
.how-it-works .tab--item__wrapper .customer--guide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}
.how-it-works .tab--item__wrapper .customer--guide h5 {
  margin-bottom: 12px;
}
.how-it-works .tab--item__wrapper .owl-carousel.owl-drag .owl-item {
  text-align: -moz-center;
}
.how-it-works .download-cta {
  width: 100%;
  padding: 24px;
  text-align: center;
  font-weight: 500;
  background: rgb(250, 240, 255);
  height: auto;
  padding: 24px;
  border-radius: 12px;
  margin-top: 48px;
}
.how-it-works .download-cta h4 {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.how-it-works .download-cta span {
  color: rgb(126, 0, 196);
}
.how-it-works .download-cta .btn-group {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-flow: row wrap;
}
.how-it-works .download-cta button {
  outline: none;
  border: 0px;
  background-color: transparent;
}
.how-it-works .download-cta img {
  width: 200px;
  height: 60px;
}
.how-it-works .download-cta a {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .how-it-works .tab--item__wrapper {
    flex-direction: column;
  }
  .how-it-works .tab--item__wrapper .tab-img {
    width: 500px;
    margin-bottom: 48px;
  }
}
@media (max-width: 540px) {
  .how-it-works .tab--item__wrapper {
    padding: 0 12px;
  }
  .how-it-works .tab--item__wrapper .tab-img {
    max-width: 100%;
  }
  .how-it-works .download-cta {
    height: 320px;
    padding: 24px;
    border-radius: 0px;
  }
  .how-it-works .download-cta button {
    background-color: none;
  }
  .how-it-works .download-cta img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .how-it-works .download-cta a {
    display: flex;
    justify-content: center;
  }
}
/*=======END OF HOW IT WORKS SECTION STYLING=======*/
/*=======BENEFITS SECTION STYLING=======*/
.benefits-section {
  margin-top: 96px;
}
.benefits-section h2 {
  text-align: center;
  margin-bottom: 48px;
}
.benefits-section .benefit--items__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 24px;
}
.benefits-section .benefit--items__container h4 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.benefits-section .benefit--items__container svg {
  margin-left: 6px;
}

@media (max-width: 600px) {
  .benefits-section .benefit--items__container {
    padding: 0 12px;
  }
}
/*=======END OF BENEFITS SECTION STYLING=======*/
/*=======TESTIMONIAL SECTION STYLING=======*/
.testimonial-section {
  background-color: rgb(0, 167, 215);
  padding: 24px;
  margin-top: 96px;
}
.testimonial-section h2 {
  max-width: 500px;
  margin: auto;
  color: #fff;
  margin-bottom: 48px;
  text-align: center;
}
.testimonial-section .testimonial--container {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
}
.testimonial-section .testimonial--item {
  max-width: 350px;
}
.testimonial-section .testimonial--item h5 {
  color: rgb(126, 0, 196);
  margin-bottom: 12px;
}
.testimonial-section .testimonial--item cite {
  font-weight: 500;
}
.testimonial-section .testimonial--item p {
  margin-top: 12px;
}
.testimonial-section .btn {
  background-color: rgb(126, 0, 196);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: auto;
  margin-top: 48px;
}
.testimonial-section .btn:hover {
  background-color: rgb(0, 167, 215);
}

/*=======END OF TESTIMONIAL SECTION STYLING=======*/
/*=======NEWSLETTER SECTION STYLING=======*/
.newsletter-section {
  text-align: center;
  margin: 96px 0;
}
.newsletter-section .newsletter--container {
  max-width: 1000px;
  margin: auto;
  padding: 24px;
}
.newsletter-section h2 {
  margin-bottom: 12px;
}
.newsletter-section p {
  margin-bottom: 24px;
}
.newsletter-section .input-field {
  width: 70%;
}

/*=======END OF NEWSLETTER SECTION STYLING=======*//*# sourceMappingURL=main.css.map */