.chatbox-wrapper{
    .chatbox-message-wrapper {
        height: 80%;
        width: 100%;
        border-radius: .5rem;
        overflow: hidden;
        transition: .2s;
        margin: 24px auto;
        box-shadow: 0px 12px 40px rgba(174, 174, 174, 0.15);
    }


    .chatbox-message-content {
        background: #fff;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        grid-row-gap: 1rem;
        max-height: 60%;
        min-height: 400px;
        overflow-y: auto;
        width: 100%;
        margin-bottom: 60px;
    }

    .chatbox-message-item {
        width: 90%;
        padding: 1rem;
    }

    .chatbox-message-item.sent {
        align-self: flex-end;
        background: hsla(193, 100%, 42%, 1);
        color: #fff;
        border-radius: .75rem 0 .75rem .75rem;
    }

    .chatbox-message-item.received {
        background: hsla(0, 0%, 85%, 1);
        border-radius: 0 .75rem .75rem .75rem;
        box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .05);
    }

    .chatbox-message-item-time {
        float: right;
        font-size: .75rem;
        margin-top: .5rem;
        /* display: inline-block; */
    }

    .chatbox-message-bottom {
        background: var(--white);
        padding: 0 6px;
        position: absolute;
        bottom: -10%;
        width: 93%;
        height: 20%;
    }

    

    .chatbox-message-form {
        display: flex;
        align-items: center;
        background: hsla(193, 100%, 94%, 1);
        border-radius: .5rem;
        padding: .5rem 1.25rem;
    }

    .chatbox-message-input {
        background: #fff;
        outline: none;
        border: none;
        resize: none;
        scrollbar-width: none;
        height: 40px;
    }

    .chatbox-message-input::-webkit-scrollbar {
        display: none;
    }

    .chatbox-message-submit {
        font-size: 24px;
        color: rgba(0, 167, 215, 1);
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 12px;
    }

    .chatbox-message-no-message {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }
}