@mixin flexLayout{
    display: flex;
    gap: 24px;


    .text-description{
        width: 50%;
        // transform: translateY(100px);
        h4{
            margin-bottom: 12px;
        }
        p{
            margin-bottom: 24px;
        }
        .icon{
            font-size: 24px;
            margin-left: 6px;
        }
    }

    .image-container{
        display: flex;
        justify-content: baseline;
        width: 50%;
        // img{
        //     width: 80%;
        // }
        
    }
}

@mixin flexLayoutResponsive{
    flex-direction: column;


    .text-description{
        width: 100%;
    }

    .image-container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;
        img{
            width: 80%;
        }
        
    }
}