html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Px Grotesk Pan';
    src: url('../font/PxGroteskPan-Bold.eot');
    src: local('Px Grotesk Pan Bold'), local('../font/PxGroteskPan-Bold'),
        url('../font/PxGroteskPan-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/PxGroteskPan-Bold.woff2') format('woff2'),
        url('../font/PxGroteskPan-Bold.woff') format('woff'),
        url('../font/PxGroteskPan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: $fontFamily;
  position: relative;
}

h1 {
  font-size: $h1FontSize;
  font-family: "Px Grotesk Pan";
  line-height: 1;
}

h2 {
  font-size: $h2FontSize;
}

h4 {
  font-size: $h4FontSize;
}

h5 {
  font-size: $h5FontSize;
  color: $titleTextColor;
}
h1,
h2 {
  color: $primaryColor;
  line-height: 1;
}

p {
  font-size: $bodyFontSize;
  color: $bodyTextColor;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  color: $bodyTextColor;
}

.padding-wrapper {
  padding: 0 24px;
}

@media (max-width: 550px) {
  .padding-wrapper {
    padding: 0;
  }
}

img {
  object-fit: cover;
  object-position: center;
}

.input-field {
  height: 45px;
  border: 1px solid $primaryColor;
  border-radius: 8px;
  // display: block;
  line-height: 1;
  padding: 6px 12px;
  font-family: inherit;
  font-size: 16px;
  transition: $transitionDuration;
  width: 100%;
}
.input-field:focus {
  border-radius: 1.5px solid $secondaryColor;
  transition: $transitionDuration;
}

.animate {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 0.7s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0px);
}
